<!doctype html>

<h3> Medical Recordy Thingy </h3>

<div class="left">
  <button id='start_button' onclick="start_button(event)">
    <!--
        <img id="start_img" src="/static/button.jpg">
        -->
    Start Recording
  </button>
</div>

    <p> Email Address:
    <input type="text" id="email_form_result" value="">
    </p>

<div class="center" id="results">
  <p>
    <span id="results_span", class="final"></span>
  </p>
</div>

<script type="text/javascript">

if (!('webkitSpeechRecognition' in window)) {
    alert("webkitSpeechRecognition isn't available; please upgrade to chrome or bother erik to fix this...");
}

var interm_transcript = '';

var r = new webkitSpeechRecognition();

r.continuous = true;
r.interimResults = true;

r.onstart = function() {};
r.onend = function() {};

r.onresult = function(e) {
    interm_transcript = '';

    for (var i = e.resultIndex; i < e.results.length; ++i) {
        if (!e.results[i].isFinal) {
            interm_transcript += e.results[i][0].transcript;
        }
    }

    if (interm_transcript !== "") {
        set_transcript_text(interm_transcript);
    }

    console.log("interm = " + interm_transcript);
};

r.onerror = function() {
    alert("an error occured, fyi");
};

var running = false;

function set_transcript_text(text) { results_span.innerHTML = text; }

function post_transcript(transcript, email) {
    // FIXME: make this call/ret async
    var request = new XMLHttpRequest();
    request.open("GET", "/upload_it?data=" + escape(transcript) +
                 '&email=' + escape(email) , false);
    request.send();
    return request.responseText;
}

function start_button() {
    if (running) {
        r.stop();
        document.getElementById('start_button').innerHTML = "Start Recording";
        var final_transcript = interm_transcript;
        set_transcript_text(final_transcript);
        email = document.getElementById("email_form_result").value;
        post_transcript(final_transcript, email);
    } else {
        set_transcript_text("");
        r.start();
        document.getElementById('start_button').innerHTML = "Finish Recording";
    }
    running = !running;
}

</script>
